@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,400&display=swap');

:root{
    --main-color: #212121;
    --main-words-color:  rgba(255, 255, 255, 0.918);
    --secondary-color:#6bd0f8;
    /* #ECB365;  */
    --ice-color: #f6f6f6;
    --background-hover: rgba(39, 39, 39, 1);
    --background-black-hover: rgba(39, 39, 39, 1);
    --background-cover-card:  rgb(107,208,248);

    --first-font: 'Krona One', sans-serif;
    --secondary-word: 'Monserrat', sans-serif;

    --swiper-pagination-progressbar-bg-color: var(--secondary-color)
    --swipper-pagination-color: var(--secondary-color)
}
    
body{
    background-color: var(--main-color);
    color: var(--main-words-color);
    box-sizing: border-box;
    overflow-x: hidden;
}

header.navigation{
    padding: 3% 0 0 10%;
}

.navigation__menu{
    display: flex;
    gap: 80px;
}

.navigation__menu__link{
    font-family: var(--secondary-word);
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary-color);
    display: inline-block;
    padding-bottom: 0.5em;
    position: relative;
    text-decoration: none;
}

.navigation__menu__link::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 0.3s ease-out;
}
a.navigation__menu__link:hover::before{
    width: 30%;
}

a.navigation__menu__link:hover{
    color: var(--main-words-color);
}

main.presentation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%; 
    overflow: hidden;
}

section.presentation__assignment{
    width: 100%;
}

.presentation__assignment__title{
    text-align: center;
    padding-bottom: 1em;
    font-family: var(--first-font);
    color: var(--secondary-color);
    margin-bottom: 1em;
}

section div.presentation__projects{
    width: 100%;
    background-color: #1f1e1e;
    height: 32em;
    border-radius: 12px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section div.presentation__card{
    background-color: var(--background-cover-card);
    background: radial-gradient(circle, rgba(107,208,248,0.8113620448179272) 0%, rgba(13,8,9,1) 100%);
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-words-color);
    border-radius: 12px;
}

section div.presentation__card div.view_project{
    background-color: white;
    width: 50%;
    height: 50%;
    margin: 0.5em;
    display: flex;
}

section div.presentation__card div.presentation_content{
    width: 60%;
    height: 30%;
    display: flex;
    color: var(--main-color);
    border-radius: 1.5em;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: var(--main-words-color);
    font-family: var(--secondary-word);
    background-color: var(--background-black-hover);
}

section div.presentation__card div.presentation_content p{
    width: 80%;
    word-wrap: break-word;
}

section div.presentation__card div.presentation__buttons{
    display: flex;
    /* background-color: #000000; */
}

section div.presentation__card div.presentation__buttons button.presentations__button_card{
    font-family: var(--secondary-word);
    color: var(--main-words-color);
    cursor: pointer;
    border: none;
    padding: 0.6em;
    display: flex;
    gap: 1em;
    background-color: #1f1e1e8e;
    font-size: 1em;
    border-radius: 4%;
}

section div.presentation__card div.presentation__buttons button.presentations__button_card:hover{
    background-color: var(--background-black-hover);
    transition: 0.5s;
}

div.swiper-pagination{
    background-color: var(--secondary-color);
}

div.swiper-button-prev{
    color: var(--secondary-color);
}

div.swiper-button-next{
    color: var(--secondary-color);
}

section div.presentation__card:hover{
    opacity: 0.8;
    border: 3px solid var(--secondary-color);
    transition: 0.3s;
}

footer.footer{
    color: var(--main-color);
    padding: 24px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

footer a.footer_links{
    margin: 0 15px;
    text-decoration: none;
}

footer a.footer_links img{
    width: 24px
}

footer div.icons_footer{
    padding-bottom: 1em;
}

footer h3{
    position: absolute;
    bottom: 0;
}

@media (min-width: 1200px){
    section div.presentation__card{
        background-color: var(--background-cover-card);
        background: radial-gradient(circle, rgba(107,208,248,0.8113620448179272) 0%, rgba(13,8,9,1) 100%);
        width: 70%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0.1;
        border: 1px solid var(--main-words-color);
        border-radius: 12px;
    }

    section div.presentation__card:hover{
        opacity: 0.8;
        border: 3px solid var(--secondary-color);
        transition: 0.3s;
    }
    
    footer.footer{
        color: var(--main-color);
        padding: 24px;
        background-color: var(--secondary-color);
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    
    
    footer a.footer_links{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 15px;
        border-radius: 50%;
        text-decoration: none;
    }
    
    footer a.footer_links img{
        width: 24px
    }
    
    footer a.footer_links:hover{
        background-color: var(--main-words-color);
        transition: 0.3s;
    }

    footer h3{
        position: absolute;
        bottom: 0;
    }
}

@media (max-width: 1200px){

    header.navigation {
        padding: 3%;
    }

    .navigation__menu {
        justify-content: center;
    }

    .presentation{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentation__assignment {
        width: auto;
        margin-top: 10%;
    }

    h1.presentation__assignment__title{
        font-size: 1.6rem;
    }

    p.presentation__assignment__paragraphs{
        font-size: 1.2rem;
    }

    h2.presentation__links__subtitle{
        font-size: 1.2rem;
    }
}

@media (max-width: 700px){
    
}

@media(min-width: 350px) and (max-width: 500px){
    section div.presentation__card div.view_project{
        background-color: white;
        width: 80%;
        height: 50%;
        margin: 0.5em;
        display: flex;
    }

    section div.presentation__card div.presentation_content{
        width: 80%;
        height: 30%;
        display: flex;
        border-radius: 1.5em;
        margin-bottom: 0.5em;
    }

    section div.presentation__card div.presentation_content p{
        font-size: 0.9em;
    }

}